.page-countries {
  .row-search {
    padding-bottom: 20px;
  }

  .row-list {
    .ant-col {
      margin-bottom: 15px;
    }
  }

  img {
    height: 110px;
    object-fit: cover;
  }

  .ant-card {
    height: 207px;
  }
}
